<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}" />
        <title>Messenger</title>
    </head>

    <body>

        <h1>Messenger</h1>

        <ul>
            <li><a href="{{ url('ornicar_message_inbox') }}">Inbox</a></li>
            <li><a href="{{ url('ornicar_message_sent') }}">Sent</a></li>
        </ul>

        {% block content %}{% endblock %}

    </body>
</html>