<div class="sidebar">
    <a href="{{ url("ornicar_message_message_new") }}" class="goto_compose">{% trans "Compose message" %}</a>
    <a href="{{ url("ornicar_message_message_list") }}" class="goto_inbox">{% trans "Inbox" %}</a>
    <a href="{{ url("ornicar_message_message_sent") }}" class="goto_sent">{% trans "Sent messages" %}</a>
</div>
