<?xml version="1.0" encoding="UTF-8" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>

        <service id="ornicar_message.sender.default" class="Ornicar\MessageBundle\Sender\Sender" public="false">
            <argument type="service" id="ornicar_message.message_manager" />
            <argument type="service" id="ornicar_message.thread_manager" />
            <argument type="service" id="event_dispatcher" />
        </service>

        <service id="ornicar_message.composer.default" class="Ornicar\MessageBundle\Composer\Composer" public="false">
            <argument type="service" id="ornicar_message.message_manager" />
            <argument type="service" id="ornicar_message.thread_manager" />
        </service>

        <service id="ornicar_message.participant_provider.default" class="Ornicar\MessageBundle\Security\ParticipantProvider" public="false">
            <argument type="service" id="security.context" />
        </service>

        <service id="ornicar_message.authorizer.default" class="Ornicar\MessageBundle\Security\Authorizer" public="false">
            <argument type="service" id="ornicar_message.participant_provider" />
        </service>

        <service id="ornicar_message.provider.default" class="Ornicar\MessageBundle\Provider\Provider" public="false">
            <argument type="service" id="ornicar_message.thread_manager" />
            <argument type="service" id="ornicar_message.message_manager" />
            <argument type="service" id="ornicar_message.thread_reader" />
            <argument type="service" id="ornicar_message.authorizer" />
            <argument type="service" id="ornicar_message.participant_provider" />
        </service>

        <service id="ornicar_message.message_reader.default" class="Ornicar\MessageBundle\Reader\Reader" public="false">
            <argument type="service" id="ornicar_message.participant_provider" />
            <argument type="service" id="ornicar_message.message_manager" />
            <argument type="service" id="event_dispatcher" />
        </service>

        <service id="ornicar_message.thread_reader.default" class="Ornicar\MessageBundle\Reader\Reader" public="false">
            <argument type="service" id="ornicar_message.participant_provider" />
            <argument type="service" id="ornicar_message.thread_manager" />
            <argument type="service" id="event_dispatcher" />
        </service>

        <service id="ornicar_message.deleter.default" class="Ornicar\MessageBundle\Deleter\Deleter" public="false">
            <argument type="service" id="ornicar_message.authorizer" />
            <argument type="service" id="ornicar_message.participant_provider" />
            <argument type="service" id="event_dispatcher" />
        </service>

        <service id="ornicar_message.twig_extension" class="Ornicar\MessageBundle\Twig\Extension\MessageExtension" public="false">
            <argument type="service" id="ornicar_message.participant_provider" />
            <argument type="service" id="ornicar_message.provider" />
            <tag name="twig.extension" alias="ornicar_message" />
        </service>

        <service id="ornicar_message.search_query_factory.default" class="Ornicar\MessageBundle\Search\QueryFactory" scope="request" public="true">
            <argument type="service" id="request" />
            <argument /> <!-- query parameter containing the search terms -->
        </service>

        <service id="ornicar_message.search_finder.default" class="Ornicar\MessageBundle\Search\Finder" public="true">
            <argument type="service" id="ornicar_message.participant_provider" />
            <argument type="service" id="ornicar_message.thread_manager" />
        </service>

    </services>

</container>
