<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude('Tests/Functional/cache')
;

return PhpCsFixer\Config::create()
    ->setRules(array(
        '@Symfony' => true,
        'ordered_imports' => true,
        'phpdoc_order' => true,
    ))
    ->setFinder($finder)
;
