{% extends 'OrnicarMessageBundle::layout.html.twig' %}

{% block content %}

<h2>{% trans from 'OrnicarMessageBundle' %}ornicar_message_send_new{% endtrans %}</h2>

<form action="{{ url('ornicar_message_thread_new') }}" method="post">
    {{ form_widget(form) }}

    <input type="submit" />
</form>

{% endblock %}
