{% extends 'OrnicarMessageBundle::layout.html.twig' %}

{% block content %}

<h2>{% trans from 'OrnicarMessageBundle' %}search{% endtrans %}</h2>

<p>{% transchoice threads|length with {'%num%': threads|length } from 'OrnicarMessageBundle' %}
    threads_found
{% endtranschoice %}</p>

{% include 'OrnicarMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
