{% extends '@FOSMessage/layout.html.twig' %}

{% block fos_message_content %}

<h2>{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</h2>

{% include '@FOSMessage/Message/threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
