{% extends 'OrnicarMessageBundle::layout.html.twig' %}

{% block content %}

<h2>Sent</h2>

{% include 'OrnicarMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
